<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
        <p class="text-secondary">Post your photo and share the story.</p>
      </div>
    
      <h2>Sign up</h2>
      <%= form_with model: @user, url: user_registration_path, class: 'new_user', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
  
        <div class="form-group">
          <%= f.label :nickname %><br />
          <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
  
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control" %>
        </div>
  
        <div class="form-group">
          <%=f.label :birthday %><br />
          <div class='input-birth-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :birthday,
                          class:'select-birth',
                          id:"birth-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: 1930,
                          end_year: (Time.now.year - 5),
                          date_separator: '%s',
                          ),
                        "<p> :year </p>", "<p> :month </p>") + "<p> :day </p>" %>
          </div>
        </>
  
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-info w-100" %>
        </div>
      <% end %>
      <br>
      <p class="devise-link">
        Already have an account?
        <%= link_to "Log in", new_user_session_path %>
      </p>
    </div>
  </div>
</div>
