<%# 記事の概要 %>
<div class="article-show-wrap">
  <div class="article flex-column">
    
    <div class="article-imgs pt-4 text-center">
      <%= image_tag @article.image.variant(resize: '700x500'), class:"article-box-img" %> 
    </div>
    
    <section>
      <% if user_signed_in? %>
        <%if current_user.id == @article.user_id %>
          <div class="buttons text-right mt-1">
            <%= link_to 'edit', edit_article_path, method: :get, class: "btn btn-outline-info shwbtn" %>
            <%= link_to 'delete', article_path(@article), method: :delete, class:'btn btn-outline-danger shwbtn' %>
          <% end %>
      <% end %>
    </section>

    <section>
      <h2 class="name text-center">
        <%= @article.title %>
      </h2>
      <div class="col-6 mx-auto">
        <div class="detail-article">
          <%= @article.memo %>
        </div>
      </div>
    </section>

    <section class="details mt-4">
      <h6 class="name text-center">been @
        <%= @article.place %>
      </h6>
      <h6 class="name text-center">date : 
        <%= @article.date %>
      </h6>
    </section>
  </div>

  <div class="comment-column flex-column m-5">
    <h4 class="text-center"> Comments <i class="far fa-comments"></i></h4>
    <div class="col-5 mx-auto">
      <%= form_with model: [@article, @comment], local: true do |form| %>
        <%= form.text_field :text, class:"comment-text-form", placeholder:"add a comment..." %> 
        <%= form.submit "post", class:"btn btn-sm btn-info" %>
      <% end %>
    </div>
      <% if @comments %>
      <div class="comments", id="comments">
        <% @comments.each do |comment| %>
          <div class="comment-case col-6 mx-auto m-1 case">
            <strong class="h6"><%= link_to comment.user.nickname, "/users/#{comment.user_id}", classs: "comment-name" %> : </strong>
            <p class="h6"><%= comment.text%></p>
            <p class="text-right"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></p>
          </div>
        <% end%>
      </div>
      <% end %>
  </div>
</div>
